body {
    font-family: 'PT Serif', georgia, serif;
    font-size: 24px;
}

p {
    margin: 0;
}

.slide {
    width: 400px;
    height: 300px;
    padding: 30px;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    background-size: 220px 290px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#child {
    background-image: url("images/child.jpg") ;
}

#scientist {
    background-image: url("images/scientist.jpg") ;
}

#police {
    background-image: url("images/police.jpg") ;
}

#teacher {
    background-image: url("images/teacher.jpg") ;
}

