body {
    font-family: 'PT Serif', georgia, serif;
    font-size: 24px;
}

.slide {
    width: 500px;
    height: 500px;
    padding: 50px;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

#child {
    background: url("images/child.jpg") no-repeat center bottom;
}


